<% layout('/layouts/boilerplate') %>

    <div class="my-3">
        <h3 class="page-header mt-4 ms-3">Leave Management</h3>
    </div>

    <div class="d-flex col-10 justify-content-between mx-3">
        <div class="">
            <a href="/leave-management/new-leave-request"><button class="btn btn-success">Request Leave</button></a>
        </div>
        <div class="d-flex justify-content-end mb-2">
            <form action="" class="d-flex me-4">
                <input type="text" class="form-control me-2" id="searchInput">
                <button class="btn btn-success"><i class="bi bi-search text-light"></i></button>
            </form>
        </div>  
    </div>

<div class="d-flex" style="max-height: 80%">
    <div class="col-lg-10 col-sm-12 border bg-light rounded-3 p-2 me-2 overflow-auto shadow">
        <div class="mx-3">
            <h4 class="text-success my-2">For Approval</h4>
        </div>
        <table class="table table-striped border rounded-3">
            <thead>
                <tr class="align-middle style="font-size: 0.9em;">
                    <th class="text-success" style="width:15%;">Employee ID</th>
                    <th class="text-success" style="width:20%;">Name</th>
                    <th class="text-success" style="width:15%;">Department</th>
                    <th class="text-success" style="width:12%;">Leave Start</th>
                    <th class="text-success" style="width:12%;">Leave End</th>
                    <th class="text-success" style="width:15%;">Status</th> 
                    <th class="text-success" style="width:10%;">Type</th>         
                    <th class="text-success" style="width:10%;"></th>      
                </tr>
            </thead>
            <tbody>
                <%  for(let leave of leaves) { %>
                <tr class="align-middle employee-row" style="font-size: 0.8em;">
                    <td><%= leave.employeeId %></td>
                    <td class="employee-firstName"><%= leave.firstName %> <%= leave.lastName %></td>
                    <td></td>
                    <td><%= leave.leaveStart %></td>
                    <td><%= leave.leaveEnd %></td>
                    <td><%= leave.status %></td>
                    <td></td>
                    <td>
                        <div class="actions mx-0 d-flex align-middle">
                            <a href="/leave-management/<%= leave._id %>"><button class="btn btn-sm btn-light border border-success px-3 me-1" data-toggle="tooltip" data-placement="top" title="View"><i class="bi bi-search"></i></button></a>
                            <button class="btn btn-sm btn-success ms-2" data-toggle="tooltip" data-placement="top" title="Approve"><i class="bi bi-check-lg"></i></button>
                            <button class="btn btn-sm btn-danger mx-1" data-toggle="tooltip" data-placement="top" title="Reject"><i class="bi bi-x-lg"></i></button>
                            <button class="btn btn-sm btn-light border border-danger text-danger ms-2" data-toggle="tooltip" data-placement="top" title="Delete"><i class="bi bi-trash"></i></button>
                        </div>
                    
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    
 
</div>