<% layout('/layouts/boilerplate') %>

<div class="my-3">
    <h3 class="page-header mt-4 ms-3">Application Management</h3>
</div>

<div class="d-flex col-10 justify-content-between mx-3">
    <div class="">
        <a href="/applications/form"><button class="btn btn-success">Add Applicant</button></a>
    </div>
    <div class="d-flex justify-content-end mb-2">
        <select name="status" class="form-control w-25" id="statusFilter">
            <option value="">All</option>
            <option value="Pending">Pending</option>
            <option value="Rejected">Rejected</option>
            <option value="Approved">Approved</option>
        </select>
        <select name="office" class="form-control w-50 mx-3" id="officeFilter">
            <option value="all" selected>All</option>
            <% for (let office of offices) { %>
            <option value="<%= office.office %>"><%= office.office %></option>
            <% } %>
        </select>
        <form action="" class="d-flex me-2">
            <div id="printButton"><button class="btn btn-light me-2" data-bs-toggle="tooltip" data-bs-html="true" data-placement="top" title="Print Table"><i class="bi bi-printer"></i></button></div>
            <input type="text" class="form-control me-2" id="searchInput" placeholder="Search...">
        </form>
    </div>  
</div>

<section class="d-flex mx-3" style="max-height:80vh;">
    <div class="col-10 overflow-auto">
        <table class="table table-striped border rounded-3" id="employeeTable">
            <thead>
                <tr>
                    <th class="text-success" style="width:10%;">Employee ID</th>
                    <th class="text-success" style="width:20%;">First Name</th>
                    <th class="text-success" style="width:20%;">Last Name</th>
                    <th class="text-success" style="width:20%;">Office</th>
                    <th class="text-success" style="width:10%;">Created At</th>
                    <th class="text-success" style="width:10%;">Status</th>
                    <th class="text-success no-print" style="width:25%;"></th>        
                </tr>
            </thead>
            <tbody>
                <% for (let applicant of applicants) { %>
                <tr class="applicant-row">
                    <td class="align-middle"><%= applicant.employeeId %></td>
                    <td class="align-middle applicant-firstName" style="font-size:0.9em;"><%= applicant.firstName %></td>
                    <td class="align-middle applicant-lastName" style="font-size:0.9em;"><%= applicant.lastName %></td>
                    <td class="align-middle applicant-office" style="font-size:0.8em;"><%= applicant.office %></td>
                    <td class="align-middle" style="font-size:0.9em;"><%= applicant.createdAt.slice(4, 15) %></td>
                    <td class="align-middle applicant-status" style="font-size:0.9em;"><%= applicant.status %></td>
                    <td class="no-print">
                        <div class="d-flex mx-0">
                            <a href="/applications/<%= applicant._id %>"><button class="btn btn-sm btn-light border border-success text-success px-3" style="font-size:0.9em;" data-toggle="tooltip" data-placement="top" title="View"><i class="bi bi-eye"></i></button></a>
                            <% if(applicant.status !== 'Approved') {%>
                            <a href="/applications/<%= applicant._id %>/edit"><button class="btn btn-sm btn-success ms-1" style="font-size:0.9em;" data-toggle="tooltip" data-placement="top" title="Edit"><i class="bi bi-pencil"></i></button></a>
                            <form action="/applications/<%= applicant._id %>/approve?_method=PATCH" method="POST">
                                <button class="btn btn-sm btn-success ms-3" style="font-size:0.9em;" data-toggle="tooltip" data-placement="top" title="Approve"><i class="bi bi-check-lg"></i></button>
                            </form>
                            <form action="/applications/<%= applicant._id %>/reject?_method=PATCH" method="POST">
                                <button class="btn btn-sm btn-danger ms-1" style="font-size:0.9em;" data-toggle="tooltip" data-placement="top" title="Reject"><i class="bi bi-x-lg"></i></button>
                            </form>
                            <% } %>
                        </div>
                    </td>
                </tr>
                <% } %>   
            </tbody>
        </table>
    </div>
    
</section>